<%= form_with model: stock do |form| %>
<div class="col-md-12 d-flex justify-content-center">
  <div class="col-md-6">
    <%stock.errors.full_messages_for(:qty).each do |message| %>
    <div class="alert alert-danger"><%= message %></div>
    <% stock.errors.full_messages_for(:name).each do |message| %>
    <div class="alert alert-danger"><%= message %></div>
    <% end %>
    <% end %>
  </div>
</div>

  <div class="col-md-12 d-flex justify-content-center">
    <div class="col-md-4">
      <%= form.label :name , class: "form-label" %>
      <%= form.text_field :name , class: "form-control mb-2 border border-dark", placeholder: "Name Product"%>
    </div>
  </div>
  <div class="col-md-12 d-flex justify-content-center">
    <div class="col-md-4">
      <%= form.label :qty , class: "form-label" %>
      <%= form.number_field :qty , class: "form-control border border-dark" , placeholder:"Qty Product"%><br />
    </div>
  </div>
  <div class="col-md-12 d-flex justify-content-center">
    <div class="col-md-4">
      <%= form.file_field :main_image ,class: "form-control border border-dark"%>
    </div>
  </div>
  <div class="col-md-12 d-flex justify-content-center mt-3">
    <div class="col-md-4 d-flex justify-content-center ">
      <%= form.submit class: "btn btn-success btn-w" %>
    </div>
  </div>
  <div class="col-md-12 d-flex justify-content-center mt-2 ">
    <div class="col-md-4 d-flex justify-content-center btn-w">
      <%= link_to '<span class="material-icons">arrow_back</span>'.html_safe,root_path ,class: "btn btn-outline-dark  d-flex justify-content-center"%>
    </div>
  </div>
<% end %>
</div>
