<div class="container">
  <div class="row g-3">
    <div class="col-md-12">
      <div class="title_page d-flex justify-content-center align-items-center">
        Change your password
      </div>
    </div>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>
    <div class="col-md-12 d-flex justify-content-center mt-2">
      <div class="col-md-6">
        <%= f.label :password, "New password" ,class: "form-label " %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:"form-control border border-dark" %>
      </div>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
      <div class="col-md-6">
        <%= f.label :password_confirmation, "Confirm new password",class: "form-label mt-2" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:"form-control border border-dark"%>
      </div>
    </div>
    <div class="col-md-12 d-flex justify-content-center mt-2 ale">
      <div class="col-md-6 d-flex justify-content-center">
        <%= render"users/shared/error_messages", resource: resource %>
      </div>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
      <div class="col-md-6">
        <%= f.submit "Change my password" ,class: "btn btn-dark submit btn-w" %>
      </div>
    </div>
  </div>
<% end %>
<div class="row g-3 d-flex justify-content-center">
  <div class="col-md-6">
    <div class="col-md-12 d-flex justify-content-end">
      <div class="actions">
        <%= link_to "Sign in", new_session_path(resource_name),class: "btn btn-outline-dark btn-sm mt-2 "%><br />
      </div>
  </div>
  <div class="col-md-12 d-flex justify-content-end">
    <div class="actions">
      <%= link_to "Sign up", new_registration_path(resource_name),class: "btn btn-outline-dark btn-sm mt-2"%><br />
    </div>
  </div>
</div>
